* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.titulo {
  align-self: center;
  font-family: "Urbanist", sans-serif;
  color: #737373;
  padding: 10px;
  font-size: 2rem;
}

.texto {
  font-family: "Lexend", sans-serif;
  color: #575757;
  font-size: 1.2rem;
}

.boton {
  background-color: #969696;
  border: none;
  color: white;
  padding: 10px 32px;
  text-align: center;
  font-size: 20px;
  margin: 2px 2px;
  opacity: 0.6;
  transition: 0.3s;
  display: inline-block;
  text-decoration: none;
  cursor: pointer;
  border-radius: 10px;
}

.boton:hover {
  opacity: 1;
  box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

.boton:active {
  transform: translateY(10px);
}

.inputDatos {
  width: 100%;
  min-height: 25px;
  border: 0;
  font-size: 1rem;
  font-family: "Lexend", sans-serif;
  letter-spacing: 0.15rem;
  margin-top: 5px;
  border-radius: 4px;
  padding: 10px;
}

.nav-item img {
  width: 50px;
  height: auto;
  cursor: pointer;
}
.nav-item img:hover {
  width: 55px;
}

.tarjetas {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
  gap: 50px;
}
.tarjetas .tarjetaProducto {
  text-align: center;
  border: 10px;
  background-color: #E3E3E3;
  padding: 10px;
  border-radius: 10%;
  width: 400px;
  height: 500px;
  font-family: "Lexend", sans-serif;
  font-size: 1.2rem;
}
.tarjetas .tarjetaProducto:hover {
  background-color: #31394C;
  color: white;
}
.tarjetas .tarjetaProducto .card-title {
  font-family: "Poppins", sans-serif;
}
.tarjetas .tarjetaProducto .card-text-precio {
  font-family: "Poppins", sans-serif;
  font-size: 1.2rem;
  padding: 10px;
}
.tarjetas .tarjetaProducto .card-text-descripcion {
  margin-top: -15px;
}
.tarjetas .tarjetaProducto .imagenesProductos {
  width: 220px;
  height: auto;
}

.contadorCarrito {
  background-color: #969696;
  color: white;
  border-radius: 50%;
  font-size: 12px;
  padding: 2px;
  top: 37px;
  left: 190px;
  display: none;
  position: absolute;
  width: 20px;
  text-align: center;
}

.carrito-compras {
  margin-top: 30px;
  margin-left: 20%;
  background-color: #E3E3E3;
  width: 800px;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 5%;
}
.carrito-compras .header-carrito {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  font-family: "Urbanist", sans-serif;
  color: white;
  background-color: #575757;
  padding: 20px;
}
.carrito-compras .contenido-carrito {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 20px;
  font-family: "Urbanist", sans-serif;
  color: #737373;
}
.carrito-compras .contenido-carrito:hover {
  background-color: #31394C;
  color: white;
}
.carrito-compras .contenido-carrito .itemCarritoTitulo {
  width: 300px;
  align-items: center;
  font-size: 2rem;
}
.carrito-compras .contenido-carrito .itemCarrito {
  width: 200px;
  align-items: center;
  font-size: 1.5rem;
}
.carrito-compras .footer-carrito {
  background-color: #737373;
  color: white;
  font-size: 1rem;
  text-align: center;
  font-family: "Lexend", sans-serif;
  font-size: 1.5rem;
  padding: 15px;
  border: none;
}
.carrito-compras .footer-carrito:hover {
  opacity: 1;
  box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}
.carrito-compras .datos-usuario {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 600px;
  gap: 10px;
  margin-left: 12%;
}
.carrito-compras .divPago {
  padding: 30px;
  margin-left: 8%;
}
.carrito-compras .divPago .select {
  width: 600px;
  min-height: 25px;
  border: none;
  font-size: 1.2rem;
  font-family: "Lexend", sans-serif;
  margin-top: 15px;
  margin-bottom: 15px;
  border-radius: 4px;
  padding: 10px;
}
.carrito-compras .divPago .div-pagounico {
  width: 600px;
  color: #31394C;
  margin-left: 10%;
  margin-top: 30px;
}
.carrito-compras .divPago .div-seiscuotas {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 600px;
  gap: 10px;
}
.carrito-compras .divPago .div-trescuotas {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 600px;
  gap: 10px;
}
.carrito-compras .div-final {
  padding: 10px;
  width: 600px;
  margin-left: 10%;
}

/* BOOTSTRAP */
.container {
  margin-top: 50px;
}

.titulo h1 {
  font-family: "Urbanist", sans-serif;
  color: #31394C;
  text-align: center;
  font-size: 4.5rem;
  margin-top: 50px;
  height: 100px;
}

/* FLEX SUPERIOR */
.flex-decoracion {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 50px;
  margin-bottom: 50px;
}
.flex-decoracion .deco-item {
  width: 300px;
  height: 150px;
  background-color: #9DA695;
  border-radius: 5px;
}
.flex-decoracion .deco-item p {
  font-family: "Lexend", sans-serif;
  text-align: center;
  margin-top: 20px;
  color: white;
  font-size: 1.5rem;
}
.flex-decoracion .deco-item img {
  width: 50px;
  height: auto;
  margin-left: 43%;
  filter: invert(1);
}
.flex-decoracion .deco-item:hover {
  background-color: #6B7060;
}

/* FOOTER */
footer {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  font-family: "Lexend", sans-serif;
  font-size: 1.2rem;
  width: 100%;
  padding: 10px;
}

.footer .footerImg img {
  width: 50px;
  height: auto;
  cursor: pointer;
  padding: 10px;
  margin-right: 10px;
}
.footer .footerInfo {
  margin-left: 30px;
}

/* CARRITO DE PAGO */
/* .carrito {
    display: flex;
    flex-direction: column;
    margin-top: 2%;
    margin-left: 20%;
    margin-bottom: 10%;
    background-color: $bgColor;
    width: 60%;
    display: flex;
    justify-content: center;
    -webkit-box-shadow: 9px 13px 25px 0px rgba(0, 0, 0, 0.18);
    -moz-box-shadow: 9px 13px 25px 0px rgba(0, 0, 0, 0.18);
    box-shadow: 9px 13px 25px 0px rgba(0, 0, 0, 0.18);
}

.container {
    width: 50%;

    h1 {
        align-self: center;
        font-family: $fontEncabezados;
        color: $colorSubtitulos;
        text-align: center;
        padding: 50px;
        font-size: 3rem;
    }
}

form {
    width: 100%;

    input {
        width: 100%;
        min-height: 25px;
        border: 0;
        font-size: 1rem;
        font-family: $fontTexto;
        letter-spacing: .15rem;
        margin-top: 5px;
        border-radius: 4px;
        padding: 10px;
    }

    label {
        text-transform: uppercase;
        font-size: 1rem;
        font-family: $fontTexto;
        letter-spacing: 2px;
        padding: 10px;
    }

    h1 {
        font-size: 24px;
        line-height: 10px;
        letter-spacing: 1px;
    }
}

.name {
    justify-content: space-between;
    display: flex;
    width: 100%;

    div {
        width: 45%;
    }
}

.address-info {
    display: flex;
    justify-content: space-between;

    div {
        width: 30%;
    }
}

.cc-info {
    display: flex;
    justify-content: space-between;

    div {
        width: 45%;
    }
}

.btns {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
    gap: 10px;

    button {
        margin: 3px 0;
        height: 30px;
        width: 40%;
        color: white;
        background-color:#6B7060;
        text-transform: uppercase;
        border: 0;
        border-radius: .3rem;
        letter-spacing: 2px;

        &:hover {
            animation-name: btn-hov;
            animation-duration: 550ms;
            animation-fill-mode: forwards;
        }
    }
}

@keyframes btn-hov {
    100% {
        background-color:#9DA695;
        color: white;
        transform: scale(1.05)
    }
}

input:focus,
button:focus {
    outline: none;
}

.formaDePago{
        select{
            width: 100%;
            min-height: 25px;
            border: 0;
            font-size: 1.2rem;
            font-family: $fontTexto;
            margin-top: 5px;
            border-radius: 4px;
            padding: 10px;

              option{
                font-family: $fontTexto;
                font-size: 1.2rem;
            }
        }

    }
 */
/* @media (max-width: 736px) {
    .wrapper {
        width: 100%;
    }

    .container {
        width: 100%;
    }

    .btns {
        align-items: center;

        button {
            width: 50%;
        }
    }

    form h1 {
        text-align: center;
    }

    .name,
    .address-info,
    .cc-info {
        flex-direction: column;
        width: 100%;
        justify-content: space-between;

        div {
            align-items: center;
            flex-direction: column;
            width: 100%;
            display: flex;
        }
    }

    .street,
    .cc-num {
        text-align: center;
    }

    input {
        margin: 5px 0;
        min-height: 30px;
    }
}  */
/* MEDIAS QUERIES */
/* @media (max-width: 912px){
    .flex-decoracion{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        margin-top: 50px;
        margin-bottom: 50px;

        .deco-item{
            width: 250px;
            height: 150px;

            p{
               font-size: 1.4rem;
            }
        }
    }
} 

@media (max-width: 768px){
    .flex-decoracion{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        margin-top: 50px;
        margin-bottom: 50px;

        .deco-item{
            width: 250px;
            height: 150px;

            p{
               font-size: 1.4rem;
            }
        }
    }
}

@media (max-width: 576px){

    .titulo{
        h1{
            font-size: 4rem;
            height: 80px;
        }
    }

    .flex-decoracion{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-evenly;
        align-items: center;
        margin-top: 30px;
        margin-bottom: 30px;

        .deco-item{
            margin: 20px;
            width: 250px;
            height: 150px;

            p{
               font-family: $fontTexto;
               text-align: center;
               margin-top: 20px;
               color: white;
               font-size: 1.4rem;
            }

            img{
                width: 50px;
                height: auto;
                margin-left: 43%;
                filter: invert(1);
            }

            &:hover{
                background-color: #6B7060;
            }
        }
    }

    .footer {
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-between;
    align-items: center;
    width: 100%;

    .footerImg {
        img {
            width: 50px;
            height: auto;
            cursor: pointer;
            padding: 10px;
            margin-right: 10px;
        }
    }

    .footerInfo {
        margin-left: 0px
    } 
}
} *//*# sourceMappingURL=main.css.map */