*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

$bgColor: #F2F1F0;
$bgColor1: white;
$fontEncabezados: 'Urbanist', sans-serif;
$fontTexto:'Lexend', sans-serif;
$fontTexto1:'Poppins', sans-serif;
$colorEncabezados: #31394C;
$colorSubtitulos:#737373;
$colorFondo: #E3E3E3;
$colorBotones1: #969696;
$colorBotones2: #D9D9D9;

//GENERALES//

.titulo{
    align-self: center;
    font-family: $fontEncabezados;
    color: #737373;
    padding: 10px;
    font-size: 2rem;
}

.texto{
    font-family: $fontTexto;
    color: #575757;
    font-size: 1.2rem;
}

.boton {
    background-color: $colorBotones1;
    border: none;
    color: white;
    padding: 10px 32px;
    text-align: center;
    font-size: 20px;
    margin: 2px 2px;
    opacity: 0.6;
    transition: 0.3s;
    display: inline-block;
    text-decoration: none;
    cursor: pointer;
    border-radius: 10px;
  }
  
  .boton:hover {opacity: 1;
    box-shadow: 0 5px 5px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);}

  .boton:active {
    transform: translateY(10px);
  }

  #botonEnviarDatos{
    margin-bottom: 40px;
  }

.inputDatos{
    width: 100%;
    min-height: 25px;
    border: 0;
    font-size: 1rem;
    font-family: $fontTexto;
    letter-spacing: .15rem;
    margin-top: 5px;
    border-radius: 4px;
    padding: 10px;
}

.inputDatosBuscador{
    width: 60%;
    min-height: 25px;
    border: 0;
    font-size: 1rem;
    font-family: $fontTexto;
    letter-spacing: .15rem;
    margin-top: 5px;
    border-radius: 4px;
    padding: 10px;
    background-color: $colorBotones2;
    border: none;
    margin-left: 20%;
    margin-bottom: 50px;
}

.icono-carrito{
    scroll-behavior: auto;
}

//NAV//

.navbar{
    background-color: white;
    height: 100px;
    margin-top: 0;
        
    .nav-item{
         img{
           width: 50px;
           height: auto;
           cursor: pointer;
        } 
        
        img:hover{
           width: 55px;
        }
    }
}

//TARJETAS//
.tarjetas{
   display: flex;
   flex-direction: row;
   justify-content: space-evenly;
   flex-wrap: wrap;
   gap: 30px;

 .tarjetaProducto{
     margin-top: 10px;
     text-align: center;
     border: 10px;
     background-color: $colorFondo;
     padding: 10px;
     border-radius: 10%;
     width: 400px;
     height: 480px;
     font-family: $fontTexto;
     font-size: 1.2rem;
     box-shadow: 0 5px 5px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);

     &:hover{
        background-color: $colorEncabezados;
        color: white;
     }

     .card-title{
        font-family: $fontTexto1;
        margin-top: 10px;
     }

     .card-text-precio{
        font-family: $fontTexto1;
        font-size: 1.2rem;
        padding: 0px;
     }
     
     .card-text-descripcion{
        margin-top: 5px;
     }

     .imagenesProductos{
        width: 220px;
        height: auto;
        border-radius: 50%;
        margin-top: 10px;
     }
 }
}
 
//CARRITO//

.contadorCarrito{
    background-color: $colorBotones1;
    color: white;
    border-radius:50%;
    font-size: 12px;
    padding: 2px;
    top: 37px;
    left: 190px;
    display: none;
    position: absolute;
    width: 20px;
    text-align: center;
}

.carrito-compras{
    width: 70%;
    margin: 5% 15%;
    background-color: $colorFondo;
    display: flex;
    flex-direction: column;
    align-items: center;

.header-carrito{
   display: flex;
   flex-direction: row;
   justify-content: space-around;
   font-family: $fontEncabezados;
   color: white;
   background-color: #575757;
   padding: 20px;
   width: 100%;
   font-size: 1.5rem;
}

.contenido-carrito{
   display: flex;
   flex-direction: row;
   justify-content: space-evenly;
   padding: 20px;
   font-family: $fontEncabezados;
   color: #737373;
   width: 100%;

 &:hover{
    background-color: $colorEncabezados;
    color: white;
 }

 .itemCarritoTitulo{
    width: 200px;
    align-items: center;
    font-size: 2rem;
 }

 .itemCarrito{
    margin-left: 80px;
    width: 200px;
    align-items: center;
    font-size: 1.5rem;
 }
}

.footer-carrito{
   background-color: $colorSubtitulos;
   color: white;
   font-size: 1rem;
   text-align: center;
   font-family: $fontTexto;
   font-size: 1.5rem;
   padding: 15px;
   border: none;
   width: 100%;

 &:hover{
    opacity: 1;
    box-shadow: 0 5px 5px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
 }
}


.datos-usuario{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 600px;
    gap: 10px;
    margin-left: 0;
}


.div-final{
    padding: 10px;
    width: 600px;
    margin-left: 2%;
}
}

.filtro {
    display: none;
}

/* BOOTSTRAP */
.container{
    margin-top: 50px;
}

.tituloCrea{
    h1{
        font-family: $fontEncabezados;
        color: $colorEncabezados;
        text-align: center;
        font-size: 4.5rem;
        margin-top: 50px; 
        height: 100px;
    }
}

/* FLEX SUPERIOR */
.flex-decoracion{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        margin-top: 50px;
        margin-bottom: 50px;

        .deco-item{
            width: 300px;
            height: 150px;
            background-color: #9DA695;
            border-radius: 5px;

            p{
               font-family: $fontTexto;
               text-align: center;
               margin-top: 20px;
               color: white;
               font-size: 1.5rem;
            }

            img{
                width: 50px;
                height: auto;
                margin-left: 43%;
                filter: invert(1);
            }

            &:hover{
                background-color: #6B7060;
            }
        }
    }


//FOOTER//

footer{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    background-color: $bgColor1;
    font-family:$fontTexto;
    font-size: 1.2rem;
    width: 100%;
    padding: 10px;
}

.footer{
    .footerImg{
        img{
            width: 50px;
            height: auto;
            cursor: pointer;
            padding: 10px;
            margin-right: 10px;
        }
    }

    .footerInfo{
        margin-left: 30px;
    }
}

/* MEDIAS QUERIES */
@media (max-width: 912px){
    .carrito-compras{
        width: 80%;
        margin: 5% 10%;
      
    .contenido-carrito{
       justify-content: space-evenly;
       padding: 20px;
       width: 100%;
    
    .itemCarrito{
        margin-left: 0px;
        width: 180px;
     }
    }
    
    .datos-usuario{
        width: 600px;
        gap: 10px;
        margin-left: 0;
    }

    .div-final{
        padding: 10px;
        width: 600px;
        margin-left: 10%;
    }
}
  
    .flex-decoracion{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        margin-top: 50px;
        margin-bottom: 50px;

        .deco-item{
            width: 250px;
            height: 150px;

            p{
               font-size: 1.4rem;
            }
        }
    }
} 


@media (max-width: 768px){  
    .carrito-compras{
        width: 80%;
        margin: 5% 10%;
    
    .header-carrito{
       padding: 20px;
       width: 100%;
       font-size: 1.5rem;
    }
    
    .contenido-carrito{
       width: 100%;

     .itemCarritoTitulo{
        width: 200px;
     }
    
     .itemCarrito{
        margin-left: 80px;
        width: 200px;
     }
    }

    .datos-usuario{
        width: 580px;
        margin-left: 0;
    }
    
    .div-final{
        padding: 10px;
        width: 580px;
        margin-left: 0%;
    }
    }
    
    .flex-decoracion{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        margin-top: 50px;
        margin-bottom: 50px;

        .deco-item{
            width: 250px;
            height: 150px;

            p{
               font-size: 1.4rem;
            }
        }
    }
}

@media (max-width: 576px){
    .tarjetas{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        flex-wrap: wrap;
        gap: 30px;
       
        .tarjetaProducto{
            margin-top: 10px;
            width: 300px;
            height: 400px;
            font-size: 1.2rem;
       
            .card-title{
               font-size: 20px;
            }
       
            .card-text-precio{
               font-size: 1.2rem;
            }
            
            .card-text-descripcion{
               margin-top: -15px;
               font-size: 20px;
            }
       
            .imagenesProductos{
               width: 100px;
               height: auto;
               margin-top: 10px;
            }
        }
    }
       
    .carrito-compras{
        width: 90%;
        margin: 5% 5%;
    
    .header-carrito{
       padding: 20px;
       width: 100%;
       font-size: 1.5rem;
    }

    #contenedorCarrito{
        width: 100%;
    }
    
    .contenido-carrito{
     display: flex;
     flex-direction: column;
     justify-content: space-evenly;
     align-items: center;
     padding: 20px;
     width: 100%;
    
     .itemCarritoTitulo{
        width: 200px;
        margin-left: 60px;
     }
    
     .itemCarrito{
        margin-left: 50px;
        width: 200px;
     }
    }
    
    .datos-usuario{
        width: 300px;
        gap: 10px;
        margin-left: 0px;
    }
    
    .div-final{
        padding: 10px;
        width: 350px;
        margin-left: 5%;
    }
    }

    .tituloCrea{
        h1{
            font-size: 2.5rem;
            height: 80px;
        }
    }

    .flex-decoracion{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-evenly;
        align-items: center;
        margin-top: 30px;
        margin-bottom: 30px;

        .deco-item{
            margin: 20px;
            width: 250px;
            height: 150px;

            p{
               font-family: $fontTexto;
               text-align: center;
               margin-top: 20px;
               color: white;
               font-size: 1.4rem;
            }

            img{
                width: 50px;
                height: auto;
                margin-left: 43%;
                filter: invert(1);
            }

            &:hover{
                background-color: #6B7060;
            }
        }
    }

    .footer {
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-between;
    align-items: center;
    width: 100%;

    .footerImg {
        img {
            width: 50px;
            height: auto;
            cursor: pointer;
            padding: 10px;
            margin-right: 10px;
        }
    }

    .footerInfo {
        margin-left: 0px
    } 
}
} 